target/
.svn/
.settings/
.classpath
.project
.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator.launch
.idea/
.idea
*.iml
node_modules/
.DS_Store
profile-local.properties
src/main/webapp/static/
src/main/webapp/test/
/log.txt
*log.text